<div class="containerGuess">
  <div class="card">
    <h5 class="card-title mt-3">GUESS THE MOVIE</h5>

    <p>
      {{ nomeFilmOffuscato$ | async }}
    </p>
    <div class="card-body">
      <div class="indovinaLettere">
        <div class="textBody">
          <div class="input-group">
            <p class="card-text">Indovina le lettere</p>
            <p *ngIf="counter$ | async" class="card-text">
              Tentativi : {{ counter$ | async }}
            </p>
            <p *ngIf="!(counter$ | async)" class="card-text">
              hai finito i tentativi!
            </p>

            <p *ngIf="(titoloUtente$ | async) !== null" class="card-text">
              hai indovinato!
            </p>
            <app-inserimento-lettera
              *ngIf="(counter$ | async) && (titoloUtente$ | async) == null"
              (aggiungiLettera)="clickAggiungiLettera($event)"
            ></app-inserimento-lettera>
          </div>
        </div>

        <div class="indovinaFilm">
          <div class="textBody">
            <p *ngIf="(titoloUtente$ | async) == null" class="card-text">
              Indovina il film
            </p>
            <p *ngIf="(titoloUtente$ | async) !== null" class="card-text">
              Film Indovinato!
            </p>

            <app-inserimento-titolo
              *ngIf="(titoloUtente$ | async) == null"
              (aggiungiTitolo)="clickAggiungiTitolo($event)"
            >
            </app-inserimento-titolo>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonBox mt-2">
    <a href="#" class="btn btn-outline-info mr-3 w-40">abbandona :(</a>
    <button
      *ngIf="!(mostraSuggerimento$ | async) && (titoloUtente$ | async) == null"
      class="btn btn-info mr-3 w-40"
      (click)="clickSuggerimento()"
    >
      suggerimento
    </button>

    <button
      class="btn btn-outline-info mr-3 w-40"
      (click)="clickNuovaPartita()"
    >
      ricomincia
    </button>
  </div>
  <div *ngIf="mostraSuggerimento$ | async" class="suggerimentoContainer mt-3">
    {{ suggerimentoFilm$ | async }}
  </div>
</div>

{{ nomeFilm$ | async }}
