<div class="containerGuess">
  <div class="card">
    <h5 class="card-title mt-3">GUESS THE MOVIE</h5>

    <p>
      {{ nomeFilmOffuscato$ | async }}
    </p>
    <div class="card-body">
      <div class="indovinaLettere">
        <div class="textBody">
          <div class="input-group">
            <p class="card-text">Indovina le lettere</p>
            <p *ngIf="counter$ | async" class="card-text">
              Tentativi : {{ counter$ | async }}
            </p>
            <p *ngIf="!(counter$ | async)" class="card-text">
              hai finito i tentativi!
            </p>
            <app-inserimento-lettera
              *ngIf="counter$ | async"
              (aggiungiLettera)="clickAggiungiLettera($event)"
            ></app-inserimento-lettera>
          </div>
        </div>

        <div class="indovinaFilm">
          <div class="textBody">
            <p class="card-text">Indovina il film</p>
            <app-inserimento-titolo>
              (aggiungiTitolo)="clickAggiungiTitolo($event)"
            </app-inserimento-titolo>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonBox mt-2">
    <a href="#" class="btn btn-outline-info mr-3 w-40">abbandona :(</a>
    <app-pulsanti-suggerimento></app-pulsanti-suggerimento>
  </div>
</div>

{{ nomeFilm$ | async }}
