.containerGuess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
}
.card {
  background-color: rgb(241, 235, 235);
  text-align: center;
  border: #1d809f solid 1px;
}
.indovinaLettere,
.indovinaFilm {
  border: #1d809f solid 1px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textBody {
  height: 200px;
  text-align: center;
  margin-top: 50px;
}
.input-group {
  margin-bottom: 3px;
}
