/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
}

.pulsante {
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-color: rgba(202, 202, 202, 0.5);
  border: 1px solid #1d809f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.btn-play {
  border: hidden;
  background-color: transparent;
  color: #1d809f;
}
